@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');

*{
  font-family:"Geist Mono";
  padding:0px;
  margin:0px;
  border:0px;
}
/* ==> hi!! */
body {
  background-color: var(--almost-black);
} 

#viewport {
  overflow: hidden;
  display: flexbox;
  justify-content: center;
  background-color: var(--darkblue);
  width: 90vw;
  height: 90vh;
  margin: 0px;
  margin-top: 5vh;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-bottom:5vh;
  border-width: 3px;
  border-color: var(--purple);
  border-style: solid;
}

#links{
  display: box;
  align-content: center;
  flex-direction: column;
}

